<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout/page-layout.html :: page-head"></head>
<body>
<!-- вставка фрагмента шапки -->
<th:block th:replace="layout/page-layout.html :: page-header(page='patient')"/>
<!-- верстка с использованием bootstrap -->
<div class="container-fluid text-center">
    <!-- заголовок страницы -->
    <h1>Пациенты</h1>

    <!-- вывод сообщения success/danger message -->
    <th:block th:replace="layout/page-layout.html :: page-message"/>

    <!-- форма для фильтрации пациентов -->
    <div class="container-sm align-content-center text-center m-1">
        <form method="get" th:action="@{/patient}" class="row col-sm-12" th:object="${filter}">
            <label class="col-sm-2 col-form-label" for="name">Пациент: </label>
            <div class="col-sm-4">
                <input class="form-control" type="text" id="name" th:field="*{name}"/>
            </div>

            <!-- кнопка отправки формы -->
            <div class="col-sm-2">
                <button class="btn btn-success form-control">Поиск</button>
            </div>
        </form>
    </div>

    <!-- вывод списка отделений через цикл (используется таблица-->
    <table class="table table-bordered">
        <!-- шапка таблицы -->
        <thead class="table-primary">
        <tr>
            <th>ID</th>
            <th>ФИО пациента</th>
            <th>Дата рождения пациента</th>
            <th>Номер телефона пациента</th>
            <th>Действия</th>
        </tr>
        </thead>
        <!-- тело таблицы -->
        <tbody>
        <tr th:each="patient: ${patients}">
            <td>[[${patient.id}]]</td>
            <td>[[${patient.name}]]</td>
            <td>[[${patient.dateBirth}]]</td>
            <td>[[${patient.phoneNumber}]]</td>
            <!-- ячейка действия -->
            <td>
                <!-- <a th:href="@{'/patient/delete/' + ${patient.id}}" class="btn btn-danger">Удалить</a>-->
                <a th:href="@{'/patient/update/' + ${patient.id}}" class="btn btn-primary">Редактировать</a>
                <!--<a th:href="@{'/patient/' + ${patient.id}}" class="btn btn-success">Просмотр</a>-->
            </td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-success form-control" th:href="@{/patient/new}">Добавить пациента</a>
    <h4><a th:href="@{/}">На главную</a> </h4>
</div>
<!-- вставка фрагмента футера -->
<th:block th:replace="layout/page-layout.html :: page-footer"/>

</body>
</html>